/*normalize*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #efede6;
}

main {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

div.datos-contact {
  width: 600px;
  height: 150px;
  position: right;
  text-align: right;
}

div.title-contact {
  margin-left: 80px;
  padding-left: 15px;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
}

div.info-contact {
  width: 550px;
}

div.icons-redes {
  width: 200px;
  text-decoration: none;
  margin-right: 30px;
}

div.content-icons-redes {
  width: 200px;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

div.icon-red-twitter {
  width: 40px;
  height: 40px;
}

div.icon-red-linkedin {
  width: 40px;
  height: 40px;
}

div.icon-red-behance {
  width: 40px;
  height: 40px;
}

div.items-services {
  width: 80%;
}

div.title-service {
  width: 100%;
  margin-bottom: 40px;
}
div.title-service h3 {
  color: #000000;
  font-size: 15rem;
  text-align: right;
  font-weight: 400;
}

.subtitle-services p {
  width: 80%;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: left;
  margin-left: 150px;
  color: #000000;
}

div.number-items {
  width: 100%;
  margin-left: 150px;
  margin-top: 80px;
}

.row {
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

div.benefices {
  width: 100%;
  text-align: right;
  line-height: 2;
}

div.items-benefice {
  width: 60%;
  padding-top: 100px;
}

.data-contact {
  width: 80%;
  padding-top: 100px;
}

.container-data-contact {
  height: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 310px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.items-footer {
  line-height: 1.5;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 1400px) {
  .texto-presentacion p {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h3 i {
    font-weight: 300;
    font-size: 1.8rem;
  }
  div.datos-contact {
    width: 450px;
  }
  .number-items ul li h4 {
    font-size: 3.5em;
    font-weight: 300;
  }
  .img-proyect1 {
    margin-bottom: 60px;
  }
  .text-image-proyect1 h3 i {
    font-weight: 300;
    font-size: 2rem;
  }
  h3.benefice-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 50px;
  }
  .benefice ul li h4 {
    font-size: 1em;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  h1 {
    text-align: center;
    font-size: 6.5rem;
  }
  .texto-presentacion {
    padding-top: 25px;
  }
  .texto-presentacion p {
    font-size: 2rem;
  }
  main {
    margin-top: 25px;
  }
  .number-items ul li h4 {
    font-size: 2.6em;
    font-weight: 300;
  }
  .benefice ul li h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 50px;
  }
  .benefice ul li h4 {
    font-size: 1em;
  }
}
@media (max-width: 768px) {
  h1 {
    text-align: center;
    font-size: 4.5rem;
  }
  .texto-presentacion {
    padding-top: 25px;
  }
  .texto-presentacion p {
    font-size: 1.5rem;
  }
  main {
    margin-top: 25px;
  }
  .number-items ul li h4 {
    font-size: 2.2em;
    font-weight: 300;
  }
}
.container-block {
  max-width: 80%;
  margin: auto;
  position: relative;
  display: block;
}

.container-block-2 {
  max-width: 80%;
  margin: auto;
  position: relative;
  display: block;
}

.form-content-wrapper h3 {
  margin: 0px;
  font-size: 4rem;
  font-weight: 600;
  color: #000000;
}

.subtitle-intro-form {
  width: 80%;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: left;
  margin-top: 100px;
  margin-left: 140px;
  color: #000000;
}
.subtitle-intro-form p {
  margin-bottom: 0;
}

.form-wrap {
  position: relative;
  margin-top: 190px;
  margin-bottom: 120px;
}

.container-form {
  display: grid;
  grid-column-gap: 2%;
  grid-row-gap: 16px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto);
}

.container-form-1 {
  grid-column: 1/13;
  grid-row: auto;
}

#field-1-1 h4 {
  font-size: 2rem;
  color: #000000;
  font-weight: 500;
  margin-bottom: 0px;
}

.field-description {
  position: relative;
  color: #000000;
  width: 100%;
  height: auto;
  margin-top: 80px;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 500;
}

.form-input-large {
  width: 100%;
  height: 80px;
  padding: 20px 30px 20px 30px;
  background-color: rgba(0, 0, 0, 0.1254901961);
  color: rgba(0, 0, 0, 0.4392156863);
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  outline: none;
  border-bottom: 2px solid;
  font-family: "Roboto", sans-serif;
}

.form-input-large:not(:-moz-placeholder-shown) + .form-label {
  transform: translateY(5px) scale(0.7);
  transform-origin: left top;
  color: #000000;
}

.form-input-large:not(:-ms-input-placeholder) + .form-label {
  transform: translateY(5px) scale(0.7);
  transform-origin: left top;
  color: #000000;
}

.form-input-large:focus + .form-label,
.form-input-large:not(:placeholder-shown) + .form-label {
  transform: translateY(5px) scale(0.7);
  transform-origin: left top;
  color: #000000;
}

.form-label {
  width: 95%;
  color: rgba(0, 0, 0, 0.4392156863);
  cursor: pointer;
  position: absolute;
  top: 0;
  margin-bottom: 0;
  left: 30px;
  transform: translateY(20px);
  transition: transform 0.5s color 0.3s;
}

.field-required {
  float: right;
}

.field-required.field.required.asterico {
  color: #000000;
}

.button-enviar {
  margin-top: 40px;
  grid-column: 6/8;
}
.button-enviar input {
  background-color: #000000;
  width: 100%;
  border-radius: 0px;
}

div.content-icons-redes a img {
  width: 100%;
}

div.img-proyect1 {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}
div.img-proyect1 img {
  width: 100%;
}

div.img-proyect2 {
  width: 80%;
  height: 80%;
  margin-bottom: 160px;
}
div.img-proyect2 img {
  width: 100%;
}

div.img-proyect3 {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}
div.img-proyect3 img {
  width: 100%;
}

.number-items ul {
  width: 100%;
  padding-top: 40px;
  padding-left: 0px;
}
.number-items ul li {
  display: block;
  width: 100%;
  text-align: left;
  padding-bottom: 20px;
}
.number-items ul li h4 {
  font-size: 4rem;
  font-weight: 300;
  color: #000000;
}
.number-items ul li h4 span {
  font-size: 6rem;
  font-weight: 350;
}

.benefice h4 {
  font-size: 1.8rem;
  font-weight: 300;
}
.benefice ul {
  width: 100%;
}
.benefice ul li {
  display: block;
  width: 100%;
  text-align: left;
}

.items-benefice ul li h4 span {
  font-size: 4rem;
  font-weight: 350;
  margin-right: 40px;
}

.data-footer-contact ul li {
  display: inline;
  position: relative;
  text-align: left;
}
.data-footer-contact ul li h5 {
  font-size: 1em;
  font-weight: normal;
}
.data-footer-contact ul li h5 span {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.container-fluid-navbar {
  width: 100%;
  height: 80px;
  padding: 0;
  background-color: transparent;
}

.navbar {
  color: #000000;
}

.navbar-toggler {
  border: 0px;
  color: transparent;
}

.navbar-brand {
  margin-left: 80px;
  margin-right: 0px;
}

#offcanvasNavbar.offcanvas.offcanvas-end {
  background: #efede6;
  border-left: 0px;
}

.btn-close:focus {
  box-shadow: none;
}

.offcanvasbody {
  font-size: 1rem;
  font-weight: 400;
}

.navbar-nav {
  color: #000000;
}

.nav-item {
  margin-right: 30px;
  color: #000000;
}
.nav-item:hover {
  transform: skew(-13deg);
}

.nav-link {
  color: #000000;
}
.nav-link:active {
  font-weight: 500;
}

h1 {
  font-size: 8rem;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
}

.texto-presentacion {
  width: 60%;
  padding-top: 100px;
  color: #000000;
}
.texto-presentacion p {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.text-image-proyect1 {
  width: 100%;
  height: 60px;
  margin-bottom: 80px;
}
div.text-image-proyect1 h3 i {
  font-weight: 300;
  font-size: 2.8rem;
}

div.text-image-proyect2 {
  width: 100%;
  height: 60px;
  margin-bottom: 40px;
}
div.text-image-proyect2 h3 i {
  font-weight: 300;
  font-size: 2.8rem;
}

div.text-image-proyect3 {
  width: 100%;
  height: 60px;
  margin-bottom: 40px;
}
div.text-image-proyect3 h3 i {
  font-weight: 300;
  font-size: 2.8rem;
}

.title-services {
  width: 100%;
  margin-bottom: 80px;
}
.title-services h3 {
  font-size: 15rem;
  font-weight: 400;
  text-align: right;
  color: #000000;
}

.benefice-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 50px;
}

.title-contact {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.title-contact h3 {
  font-size: 3rem;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */