@import "../variables/colores";
@import "../variables/fonts";

main {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 60px;
}


h1 {
    font-size: 8rem;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto-presentacion {

    width: 60%;
    padding-top: 100px;
    color: $color-primario;

    p {
        font-size: 3rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }    
}

div.text-image-proyect1 {

    width: 100%;
    height: 60px;
    margin-bottom: 80px;

    h3 {

        i {
            font-weight: 300;
            font-size: 2.8rem;
        }
    }
}

div.text-image-proyect2 {

    width: 100%;
    height: 60px;
    margin-bottom: 40px;

    h3 {
        
        i {
            font-weight: 300;
            font-size: 2.8rem;
        }
    }
}

div.text-image-proyect3 {

    width: 100%;
    height: 60px;
    margin-bottom: 40px;

    h3 {

        i {
            font-weight: 300;
            font-size: 2.8rem;
        }
    }
}

.title-contact {
    h3 {
        color: $color-primario;
        font-size: 4rem;
        font-weight: 600;
    }
}

div.datos-contact {
    width: 600px;
    height: 150px;
    text-align: right;
}

div.title-contact {
    margin-top: 10px;
    margin-left: 80px;
    padding-left: 15px;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
}

div.info-contact {
    width: 550px;
}

div.icons-redes {
    width: 200px;
    text-decoration: none;
    margin-right: 30px;
}

div.content-icons-redes {
    width: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

div.icon-red-twitter {
    width: 40px;
    height: 40px;
}

div.icon-red-linkedin {
    width: 40px;
    height: 40px;
}

div.icon-red-behance {
    width: 40px;
    height: 40px;
}

div.items-services {
    width: 80%;
}

.title-services {
    width: 100%;
    margin-bottom: 80px;

    h3 {
        font-size: $title-size-1;
        font-weight: 400;
        text-align: right;
        color: $color-primario; 
    }

}

.subtitle-services{

    p {
        width: 80%;
        font-size: $subtitle-fonts-1;
        font-weight: 400;
        text-align: left;
        margin-left: 150px;
        color: $color-primario;
    }
    
}

div.number-items {
    width: 100%;
    margin-left: 145px;
    margin-top: 80px;
    padding-left: 380px;
}

.row {
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start
}

div.items-benefice {
    width: 80%;
    padding-top: 80px;
}

div.title-benefice {
    width: 100%;
    margin-bottom: 40px;

    h3 {
        color: $color-primario;
        font-size: $title-size-1;
        text-align: right;
        font-weight: 400;
    }
}

.subtitle-benefice{

    p {
        width: 80%;
        font-size: $subtitle-fonts-1;
        font-weight: 400;
        text-align: left;
        margin-left: 150px;
        color: $color-primario;
    }
    
}

div.benefice {
    width: 100%;
    text-align: right;
    line-height: 2;
    margin-left: 145px;
    margin-top: 80px;
    padding-left: 160px;
}

.data-contact {
    width: 80%;
    padding-top: 100px;
}

.container-data-contact {
    height: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 310px;
    padding-top: 80px;
    padding-bottom: 80px;

}

.items-footer {
    line-height: 1.5;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}