div.content-icons-redes {

    a {
        img {

            width: 100%;
        }
    }
}

div.img-proyect1 {

    width: 100%;
    height: 100%;
    margin-bottom: 40px;

    img {

        width: 100%;
    }
}

div.img-proyect2 {

    width: 80%;
    height: 80%;
    margin-bottom: 160px;

    img {

        width: 100%;
    }
}

div.img-proyect3 {

    width: 100%;
    height: 100%;
    margin-bottom: 40px;

    img {

        width: 100%;
    }
}