@import "../variables/colores";

h1 {
    font-size: 8rem;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto-presentacion {

    width: 60%;
    padding-top: 100px;
    color: $color-primario;

    p {
        font-size: 3rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }    
}

div.text-image-proyect1 {

    width: 100%;
    height: 60px;
    margin-bottom: 80px;

    h3 {

        i {
            font-weight: 300;
            font-size: 2.8rem;
        }
    }
}

div.text-image-proyect2 {

    width: 100%;
    height: 60px;
    margin-bottom: 40px;

    h3 {
        
        i {
            font-weight: 300;
            font-size: 2.8rem;
        }
    }
}

div.text-image-proyect3 {

    width: 100%;
    height: 60px;
    margin-bottom: 40px;

    h3 {

        i {
            font-weight: 300;
            font-size: 2.8rem;
        }
    }
}

.title-services{
    width: 100%;
    margin-bottom: 80px;

    h3{
        font-size: 15rem;
        font-weight: 400;
        text-align: right;
        color: $color-primario; 
    }

}

.benefice-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.title-contact {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;

    h3{
        font-size: 3rem;
        font-weight: 600;
    }
}